---
import AboutIcon from "../icons/AboutIcon.astro";
import SectionContainer from "./SectionContainer.astro";
import Title from "./Shared/Title.astro";

const { title, paragraph_1, paragraph_2, featured_1, featured_2, featured_3 } =
  Astro.props;
---

<SectionContainer>
  <div
    id="sobreMi"
    class="flex justify-center lg:justify-start items-center gap-x-2 mb-8 pt-12 mt-8 lg:mt-28"
  >
    <AboutIcon class="dark:text-gray text-grayStrong size-9 lg:size-11" />
    <Title className="text-4xl lg:text-5xl" title={title} />
  </div>

  <main class="grid grid-cols-1 lg:grid-cols-2 w-full gap-8">
    <article class="dark:text-gray text-grayStrong">
      <p class="mb-6 leading-8">
        {paragraph_1}
      </p>
      <p class="leading-8">
        {paragraph_2}
      </p>
    </article>

    <article
      class="flex flex-wrap justify-center items-center w-full font-bold gap-y-8"
    >
      <aside class="flex justify-center items-center flex-col w-1/2 gap-y-2">
        <span
          data-target="2"
          class="bg-clip-text text-transparent bg-gradient-to-r dark:from-blue-500
        dark:to-teal-400 from-fifth to-purple-500 text-[55px] lg:text-7xl leading-tight
        tracking-wide mb-[-0.7rem] counter"
          >0+</span
        >
        <span class="lg:text-2xl text-xl dark:text-white text-secondary"
          >{featured_1}</span
        >
      </aside>

      <aside class="flex justify-center items-center flex-col w-1/2 gap-y-2">
        <span
          data-target="15"
          class="bg-clip-text text-transparent bg-gradient-to-r dark:from-blue-500
        dark:to-teal-400 from-fifth to-purple-500 text-[55px] lg:text-7xl leading-tight
        tracking-wide mb-[-0.7rem] counter"
          >0+</span
        >
        <span class="lg:text-2xl text-xl dark:text-white text-secondary"
          >{featured_2}</span
        >
      </aside>

      <aside class="flex justify-center items-center flex-col w-1/2 gap-y-2">
        <span
          data-target="7"
          class="bg-clip-text text-transparent bg-gradient-to-r dark:from-blue-500
        dark:to-teal-400 from-fifth to-purple-500 text-[55px] lg:text-7xl leading-tight
        tracking-wide mb-[-0.7rem] counter"
          >0+</span
        >
        <span class="lg:text-2xl text-xl dark:text-white text-secondary"
          >{featured_3}</span
        >
      </aside>

      <aside class="flex justify-center items-center flex-col w-1/2 gap-y-2">
        <span
          data-target="900"
          class="bg-clip-text text-transparent bg-gradient-to-r dark:from-blue-500
        dark:to-teal-400 from-fifth to-purple-500 text-[55px] lg:text-7xl leading-tight
        tracking-wide mb-[-0.7rem] counter"
          >0+</span
        >
        <span class="lg:text-2xl text-xl dark:text-white text-secondary"
          >Commits</span
        >
      </aside>
    </article>
  </main>
</SectionContainer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const counters = document.querySelectorAll(".counter");
    const duration = 1000;
    const frameRate = 60;

    function updateCounter(counterElement: any) {
      const targetNumber = +counterElement.getAttribute("data-target");
      const increment = targetNumber / (duration / (1000 / frameRate));
      let currentNumber = 0;

      function count() {
        currentNumber += increment;
        if (currentNumber >= targetNumber) {
          counterElement.textContent = targetNumber + "+";
        } else {
          counterElement.textContent = Math.ceil(currentNumber) + "+";
          requestAnimationFrame(count);
        }
      }

      requestAnimationFrame(count);
    }

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const counterElement = entry.target;
            updateCounter(counterElement);
            observer.unobserve(counterElement);
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    counters.forEach((counter) => observer.observe(counter));
  });
</script>
