---
import ContactIcon from "../icons/ContactIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import WhatsappIcon from "../icons/WhatsappIcon.astro";
import SectionContainer from "./SectionContainer.astro";
import Title from "./Shared/Title.astro";
import "@fontsource/rubik-dirt";

const {
  title,
  featured_1,
  featured_2,
  form_name,
  form_name_placeholder,
  form_email,
  form_message,
  form_message_placeholder,
  btn,
} = Astro.props;
---

<SectionContainer className="pb-20">
  <div
    id="contacto"
    class="flex justify-center lg:justify-start items-center gap-x-2 mb-8 pt-12 mt-16 lg:mt-28"
  >
    <ContactIcon class="dark:text-gray text-grayStrong size-9 lg:size-11" />
    <Title className="text-4xl lg:text-5xl" title={title} />
  </div>

  <main
    class="grid grid-cols-1 lg:grid-cols-3 px-8 py-8 lg:py-16 rounded-xl dark:bg-primary dark:text-secondary
  gap-10 shadow-md shadow-white border-2 border-white bg-fifth text-white"
  >
    <article
      class="text-4xl lg:text-5xl col-span-1 flex justify-center items-center"
    >
      <h2 class="animate-scaleUp">{featured_1}</h2>
    </article>

    <article class="col-span-1 flex flex-col justify-center items-center">
      <p class="text-center font-light">
        {featured_2}
      </p>
      <a
        class="underline font-medium lg:hover:brightness-200 transition"
        href="mailto:asilvazavala@gmail.com"
        target="_blank"
        rel="noopener"
      >
        asilvazavala@gmail.com
      </a>
    </article>

    <article
      class="col-span-1 flex gap-x-2 justify-center items-center dark:text-secondary"
    >
      <a
        class="lg:hover:scale-125 transform transition"
        target="_blank"
        rel="noopener"
        href="https://github.com/Asilvazavala"><GithubIcon class="size-10" /></a
      >
      <a
        class="lg:hover:scale-125 transform transition"
        target="_blank"
        rel="noopener"
        href="https://www.linkedin.com/in/antonio-silva-developer/"
        ><LinkedinIcon class="size-10" /></a
      >
      <a
        class="lg:hover:scale-125 transform transition"
        target="_blank"
        rel="noopener"
        href="https://api.whatsapp.com/send?phone=524561148433"
        ><WhatsappIcon class="size-10" /></a
      >
    </article>
  </main>

  <form
    action="https://formsubmit.co/c985d2a549f57e35c2cc0011b290fe39"
    method="POST"
    class="flex flex-col justify-center items-center gap-y-8 mt-12"
  >
    <label
      class="flex flex-col w-full max-w-96 dark:text-gray text-grayStrong text-lg"
    >
      {form_name}
      <input
        id="name"
        name="name"
        required
        placeholder={form_name_placeholder}
        type="text"
        class="bg-transparent py-3 px-5 rounded outline outline-1 dark:outline-primary outline-fifth
        focus:outline-2 dark:text-white text-third"
      />
    </label>

    <label
      class="flex flex-col w-full max-w-96 dark:text-gray text-grayStrong text-lg"
    >
      {form_email}
      <input
        id="email"
        name="email"
        required
        placeholder="correo@mail.com"
        type="email"
        class="bg-transparent py-3 px-5 rounded outline outline-1 dark:outline-primary outline-fifth
        focus:outline-2 dark:text-white text-third"
      />
    </label>

    <label
      class="flex flex-col w-full max-w-96 dark:text-gray text-grayStrong text-lg"
    >
      {form_message}
      <textarea
        id="message"
        name="message"
        placeholder={form_message_placeholder}
        required
        rows="7"
        class="bg-transparent py-3 px-5 rounded outline outline-1 dark:outline-primary outline-fifth
        focus:outline-2 dark:text-white text-third"
      ></textarea>
    </label>

    <input type="hidden" name="_next" value="http://localhost:4321/" />
    <input type="hidden" name="_captcha" value="false" />

    <button
      type="submit"
      class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700
      lg:hover:bg-gradient-to-br shadow-lg shadow-purple-500/50 transition lg:hover:shadow-2xl
    lg:hover:shadow-purple-800/80 dark:shadow-purple-800/80 font-medium rounded-lg text-lg px-5
      py-2.5 text-center w-full max-w-96"
    >
      {btn}
    </button>
  </form>
</SectionContainer>

<style>
  h2 {
    font-family: "Rubik Dirt", sans-serif;
  }

  input::placeholder {
    color: #94a3b8;
  }
</style>
