---
import SectionContainer from "./SectionContainer.astro";
import Title from "../components/Shared/Title.astro";
import Button from "../components/Shared/Button.astro";
import ButtonOutline from "../components/Shared/ButtonOutline.astro";

const { greeting, position, paragraph, btn_1, btn_2 } = Astro.props;
---

<SectionContainer className="lg:h-screen flex justify-center items-center">
  <main
    id="inicio"
    class="grid grid-cols-1 lg:grid-cols-2 pt-14 content-center w-full"
  >
    <article
      class="flex flex-col gap-y-4 transition order-2 lg:order-1 text-center lg:text-left z-40"
    >
      <header class="flex flex-col transition">
        <span class="text-4xl font-bold text-secondary dark:text-white"
          >{greeting}</span
        >
        <Title
          className="text-[54px] lg:text-6xl leading-[3.5rem] lg:leading-[3rem] dark:text-primary text-fifth"
          title="Antonio Silva"
        />
      </header>
      <h2
        class="text-4xl font-semibold text-secondary dark:text-white transition"
      >
        {position}
      </h2>
      <p
        class="text-sm dark:text-gray text-grayStrong transition font-medium md:max-w-96 md:mx-auto lg:mx-0 lg:max-w-max text-balance"
      >
        {paragraph}
      </p>

      <aside class="flex gap-x-6 lg:gap-x-8 mt-2 mx-auto lg:mx-0">
        <Button className="" title={btn_1} link="tel:4561148433" />
        <ButtonOutline
          className=""
          title={btn_2}
          link="/documents/ANTONIO SILVA FRONT-END CV Espanol.pdf"
        />
      </aside>
    </article>

    <img
      class="rounded-full size-60 lg:size-80 place-self-center lg:place-self-end animate-morph border-[3px]
      border-fifth dark:border-primary transition order-1 lg:order-2 z-40"
      src="/imagenes/General/yo-linkedin.webp"
      alt="Foto de perfil"
      title="Foto de perfil"
    />
  </main>
</SectionContainer>
