---
import SectionContainer from "./SectionContainer.astro";
import Title from "./Shared/Title.astro";
import { projects } from "../utils/ProjectsData.astro";

import "swiper/css/bundle";

import ProjectsIcon from "../icons/ProjectsIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import ArrowLeft from "../icons/ArrowLeft.astro";
import ArrowRight from "../icons/ArrowRight.astro";
---

<SectionContainer>
  <div
    id="proyectos"
    class="flex justify-center lg:justify-start items-center gap-x-2 mb-8 pt-12 mt-20 lg:mt-32"
  >
    <ProjectsIcon class="dark:text-gray text-grayStrong size-10 lg:size-14" />
    <Title className="text-4xl lg:text-5xl" title="Proyectos" />
  </div>

  <div class="swiper mySwiper">
    <main class="swiper-wrapper">
      {
        projects.map(
          ({
            image,
            cardColor,
            imgClassname,
            title,
            description,
            techs,
            githubLink,
            liveLink,
          }) => (
            <article
              class={`swiper-slide rounded-xl ${cardColor} flex flex-col relative`}
            >
              <div class="w-full group h-[190px] overflow-hidden rounded-t-xl">
                <img
                  loading="lazy"
                  decoding="async"
                  src={image}
                  alt={title}
                  class={`w-full h-auto object-cover rounded-t-xl ease-linear swiper-image ${imgClassname}`}
                />
              </div>

              <header class="px-3 flex flex-col mt-2 mb-12">
                <h2 class="text-white text-lg font-extrabold">{title}</h2>
                <p class="text-zinc-300 text-sm">{description}</p>
              </header>

              <footer class="flex items-center px-3">
                <article class="flex items-center gap-x-1 lg:gap-x-2 absolute bottom-2 left-2">
                  {techs.map(({ name, icon, techClassName }) => (
                    <div class="flex items-center flex-col group">
                      <img
                        loading="lazy"
                        decoding="async"
                        src={icon}
                        alt={name}
                        class="size-6 lg:size-7 max-w-[24px] lg:max-w-[28px]"
                      />
                      <span
                        class={`absolute -bottom-8 text-sm hidden group-hover:block 
                    ${techClassName} px-2 py-1 rounded-full font-medium`}
                      >
                        {name}
                      </span>
                    </div>
                  ))}
                </article>

                <article class="flex items-center gap-x-1 lg:gap-x-2 absolute bottom-1 right-2">
                  <a
                    class="lg:hover:text-secondary transition group flex flex-col justify-center items-center"
                    target="_blank"
                    rel="noopener"
                    aria-label="Ver código en GitHub"
                    href={githubLink}
                  >
                    <GithubIcon class="size-6 lg:size-7" />
                    <span
                      class="absolute -bottom-7 text-sm hidden lg:group-hover:block px-2 py-1 
                rounded-full font-medium bg-secondary text-white"
                    >
                      Código
                    </span>
                  </a>
                  <a
                    class="lg:hover:text-secondary transition group flex flex-col justify-center items-center"
                    target="_blank"
                    rel="noopener"
                    aria-label="Ver demo del proyecto"
                    href={liveLink}
                  >
                    <ProjectsIcon class="size-8 lg:size-9" />
                    <span
                      class="absolute -bottom-7 text-sm hidden lg:group-hover:block px-2 py-1 
                rounded-full font-medium bg-secondary text-white"
                    >
                      Demo
                    </span>
                  </a>
                </article>
              </footer>
            </article>
          )
        )
      }
    </main>

    <footer class="swiper-pagination"></footer>
    <aside
      class="absolute bottom-2 -left-44 transform translate-x-1/2 w-full hidden lg:flex z-10"
    >
      <ArrowLeft
        class="mr-[310px] cursor-pointer transition text-fifth hover:text-secondary dark:text-primary dark:hover:text-white button-prev"
      />
      <ArrowRight
        class="cursor-pointer text-fifth hover:text-secondary dark:text-primary dark:hover:text-white transition button-next"
      />
    </aside>
  </div>
</SectionContainer>

<script>
  import Swiper from "swiper/bundle";

  document.addEventListener("DOMContentLoaded", function () {
    let swiper: any;

    function initSwiper() {
      swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        initialSlide: 1,
        coverflowEffect: {
          rotate: window.innerWidth < 600 ? 0 : 50,
          stretch: 0,
          depth: 0,
          modifier: 1,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".button-next",
          prevEl: ".button-prev",
        },
      });

      const slides = document.querySelectorAll(".swiper-slide");
      slides.forEach(function (slide, index) {
        slide.addEventListener("click", function () {
          swiper.slideTo(index);
        });
      });
    }

    initSwiper();

    window.addEventListener("resize", function () {
      if (swiper) {
        swiper.destroy();
      }

      initSwiper();
    });
  });
</script>

<style>
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    width: 33%;
    height: auto;
    opacity: 0.5;
    position: relative;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-image {
    display: block;
    width: 100%;
    z-index: 9999;
  }

  .verdeClaro-verdeObscuro {
    background: linear-gradient(220.55deg, #16a085 0%, #133114 100%);
    box-shadow:
      0 0 15px rgba(22, 160, 133, 1),
      0 0 15px rgba(19, 49, 20, 1);
  }

  .naranjaOscuro-naranja {
    background: linear-gradient(220.55deg, #ec7c6a 0%, #d82a0f 100%);
    box-shadow:
      0 0 15px rgba(236, 124, 106, 1),
      0 0 15px rgba(216, 42, 15, 1);
  }

  .azulCyan-azulFuerte {
    background: linear-gradient(220.55deg, #259eac 0%, #16565d 100%);
    box-shadow:
      0 0 15px rgba(37, 158, 172, 1),
      0 0 15px rgba(22, 86, 93, 1);
  }

  .amarillo-negro {
    background: linear-gradient(220.55deg, #c6c661 0%, #4a4c1f 100%);
    box-shadow:
      0 0 15px rgba(198, 198, 97, 1),
      0 0 15px rgba(74, 76, 31, 1);
  }

  .rosa-rojo {
    background: linear-gradient(220.55deg, #ff5180 0%, #ff1010 100%);
    box-shadow:
      0 0 15px rgba(255, 81, 128, 1),
      0 0 15px rgba(255, 16, 16, 1);
  }

  .azul-morado {
    background: linear-gradient(220.55deg, #4643df 0%, #0b0a47 100%);
    box-shadow:
      0 0 15px rgba(70, 67, 223, 1),
      0 0 15px rgba(11, 10, 71, 1);
  }

  .cyan-azul {
    background: linear-gradient(220.55deg, #3793ff 0%, #0017e4 100%);
    box-shadow:
      0 0 15px rgba(55, 147, 255, 1),
      0 0 15px rgba(0, 23, 228, 1);
  }

  .verde-azul {
    background: linear-gradient(220.55deg, #439b3b 0%, #147ada 100%);
    box-shadow:
      0 0 15px rgba(67, 155, 59, 1),
      0 0 15px rgba(20, 122, 218, 1);
  }

  .rojo-rojoFuerte {
    background: linear-gradient(220.55deg, #ff607d 0%, #300b12 100%);
    box-shadow:
      0 0 15px rgba(255, 96, 125, 1),
      0 0 15px rgba(48, 11, 18, 1);
  }

  .verde-azulClaro {
    background: linear-gradient(220.55deg, #027c02 0%, #0482ab 100%);
    box-shadow:
      0 0 15px rgba(2, 124, 2, 1),
      0 0 15px rgba(4, 130, 171, 1);
  }

  .lila-morado {
    background: linear-gradient(220.55deg, #deb5ff 0%, #6f00b3 100%);
    box-shadow:
      0 0 15px rgba(222, 181, 255, 1),
      0 0 15px rgba(111, 0, 179, 1);
  }

  .yellow-pink {
    background: linear-gradient(220.55deg, #ffed46 0%, #b8287a 100%);
    box-shadow:
      0 0 15px rgba(255, 206, 0, 1),
      0 0 15px rgba(184, 40, 122, 1);
  }

  @media screen and (max-width: 700px) {
    .swiper-slide {
      width: 60%;
    }
  }

  @media screen and (max-width: 450px) {
    .swiper-slide {
      width: 80%;
    }
  }
</style>
