---
import ExperienceIcon from "../icons/ExperienceIcon.astro";
import AngularIcon from "../icons/AngularIcon.astro";
import BallSoccerIcon from "../icons/BallSoccerIcon.astro";
import BuildingsIcon from "../icons/BuildingsIcon.astro";
import ClipIcon from "../icons/ClipIcon.astro";
import ClinicaIcon from "../icons/ClinicaIcon.astro";
import GymIcon from "../icons/GymIcon.astro";
import LanguageIcon from "../icons/LanguageIcon.astro";
import PHPIcon from "../icons/PHPIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import ShoppingCartIcon from "../icons/ShoppingCartIcon.astro";
import StatisticsIcon from "../icons/StatisticsIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import TypeScriptIcon from "../icons/TypeScriptIcon.astro";
import ToolIcon from "../icons/ToolIcon.astro";
import HandIcon from "../icons/HandIcon.astro";
import WeddingIcon from "../icons/WeddingIcon.astro";

interface ExperiencesIconsType {
  [key: string]: (_props: Record<string, any>) => any;
}

interface experiencesProps {
  year?: number;
  icon: string;
  title: string;
  description: string;
  link?: string;
}

export const experiencesIcons: ExperiencesIconsType = {
  ExperienceIcon,
  AngularIcon,
  BallSoccerIcon,
  BuildingsIcon,
  ClipIcon,
  ClinicaIcon,
  GymIcon,
  LanguageIcon,
  PHPIcon,
  ReactIcon,
  ShoppingCartIcon,
  StatisticsIcon,
  TailwindIcon,
  TypeScriptIcon,
  ToolIcon,
  HandIcon,
  WeddingIcon,
};

import { getI18N } from "../i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const experiences: experiencesProps[] = [
  // {
  //   year: 2015,
  //   icon: "ExperienceIcon",
  //   title: i18n.EXPERIENCE_TITLE_1,
  //   description: i18n.EXPERIENCE_DESCRIPTION_1,
  // },
  // {
  //   year: 2020,
  //   icon: "PHPIcon",
  //   title: i18n.EXPERIENCE_TITLE_2,
  //   description: i18n.EXPERIENCE_DESCRIPTION_2,
  // },
  // {
  //   year: 2021,
  //   icon: "ReactIcon",
  //   title: i18n.EXPERIENCE_TITLE_3,
  //   description: i18n.EXPERIENCE_DESCRIPTION_3,
  // },
  {
    year: 2021,
    icon: "GymIcon",
    title: i18n.EXPERIENCE_TITLE_4,
    description: i18n.EXPERIENCE_DESCRIPTION_4,
    link: "https://gym-as.vercel.app/",
  },
  {
    icon: "BallSoccerIcon",
    title: i18n.EXPERIENCE_TITLE_5,
    description: i18n.EXPERIENCE_DESCRIPTION_5,
    link: "https://blog-barcelona.vercel.app/",
  },
  // {
  //   year: 2022,
  //   icon: "TypeScriptIcon",
  //   title: i18n.EXPERIENCE_TITLE_6,
  //   description: i18n.EXPERIENCE_DESCRIPTION_6,
  // },
  {
    year: 2022,
    icon: "ExperienceIcon",
    title: i18n.EXPERIENCE_TITLE_7,
    description: i18n.EXPERIENCE_DESCRIPTION_7,
    link: "https://www.talent.soyhenry.com/candidate/11914",
  },
  {
    icon: "ShoppingCartIcon",
    title: i18n.EXPERIENCE_TITLE_8,
    description: i18n.EXPERIENCE_DESCRIPTION_8,
    link: "https://as-ecommerce-food.vercel.app/",
  },
  {
    icon: "BuildingsIcon",
    title: i18n.EXPERIENCE_TITLE_9,
    description: i18n.EXPERIENCE_DESCRIPTION_9,
    link: "https://as-bienes-raices.vercel.app/",
  },
  // {
  //   year: 2023,
  //   icon: "LanguageIcon",
  //   title: i18n.EXPERIENCE_TITLE_10,
  //   description: i18n.EXPERIENCE_DESCRIPTION_10,
  // },
  {
    year: 2023,
    icon: "ClinicaIcon",
    title: i18n.EXPERIENCE_TITLE_11,
    description: i18n.EXPERIENCE_DESCRIPTION_11,
    link: "https://agenda-fisioterapia.vercel.app/",
  },
  {
    icon: "TailwindIcon",
    title: i18n.EXPERIENCE_TITLE_12,
    description: i18n.EXPERIENCE_DESCRIPTION_12,
    link: "https://www.frontendmentor.io/profile/Asilvazavala",
  },
  {
    icon: "ClipIcon",
    title: i18n.EXPERIENCE_TITLE_13,
    description: i18n.EXPERIENCE_DESCRIPTION_13,
    link: "https://short-link-as.vercel.app/",
  },
  {
    icon: "StatisticsIcon",
    title: i18n.EXPERIENCE_TITLE_14,
    description: i18n.EXPERIENCE_DESCRIPTION_14,
    link: "https://valledesantiago.vercel.app/",
  },
  // {
  //   year: 2024,
  //   icon: "AngularIcon",
  //   title: i18n.EXPERIENCE_TITLE_15,
  //   description: i18n.EXPERIENCE_DESCRIPTION_15,
  // },
  {
    year: 2024,
    icon: "ToolIcon",
    title: i18n.EXPERIENCE_TITLE_16,
    description: i18n.EXPERIENCE_DESCRIPTION_16,
    link: "https://devtools-as.vercel.app/",
  },
  {
    icon: "HandIcon",
    title: i18n.EXPERIENCE_TITLE_17,
    description: i18n.EXPERIENCE_DESCRIPTION_17,
    link: "https://elecciones-2024.vercel.app/",
  },
  {
    icon: "WeddingIcon",
    title: i18n.EXPERIENCE_TITLE_18,
    description: i18n.EXPERIENCE_DESCRIPTION_18,
    link: "https://cinytono.vercel.app/",
  },
];
---

{
  experiences.map(({ year, icon, title, description, link }) => {
    const CurrentIcon = experiencesIcons[icon];

    return (
      <article class="flex flex-col max-h-[50px] experience-article">
        <div class="flex flex-col justify-center items-center relative">
          <span class="dark:text-gray text-grayStrong absolute top-0 -left-4 experience-year">
            {year}
          </span>
          <div class="flex mt-8 relative">
            <aside
              class="flex h-12 w-[2.5px] bg-gray mr-28 vertical-line dark:bg-grayStrong 
              text-grayStrong text-sm"
            >
              <div class="absolute -top-1 left-0 flex justify-start items-start gap-x-2 separator">
                {Array(10)
                  .fill(null)
                  .map((_, index) => {
                    return (
                      <span class={`${index === 0 && "opacity-0"}`}>|</span>
                    );
                  })}
              </div>
            </aside>
          </div>
          <div class="dark:text-grayStrong text-gray absolute -bottom-9 -left-[12px] experience-icon mt-2">
            {icon && CurrentIcon ? <CurrentIcon /> : null}
          </div>
          <footer class="absolute mt-[410px] flex justify-center items-center flex-col min-w-[340px]">
            <h2 class="dark:text-primary text-fifth font-medium text-xl experience-title hidden">
              {title}
            </h2>
            <p class="dark:text-gray text-grayStrong leading-[1.5rem] experience-description hidden text-sm">
              {description}
            </p>
            {link && (
              <a
                href={link}
                target="_blank"
                rel="noopener"
                class="hidden experience-button text-purple-700 lg:hover:text-white 
        border border-purple-700 lg:hover:bg-gradient-to-r from-purple-500 via-purple-600 
        to-purple-700 font-medium rounded-lg text-sm px-3 py-1.5 text-center me-2 mb-2 
        dark:border-purple-400 dark:text-purple-400 lg:dark:hover:text-white transition mt-2"
              >
                {i18n.EXPERIENCE_BUTTON}
              </a>
            )}
          </footer>
        </div>
      </article>
    );
  })
}

<script>
  const articleExperiences = document.querySelectorAll(".experience-article");
  const experiencesContainer = document.getElementById("experienciaContenedor");
  let activeExperience: any = null;

  if (experiencesContainer)
    setActiveExperience(experiencesContainer.firstElementChild);

  function setActiveExperience(experience: any) {
    if (activeExperience) {
      activeExperience.classList.remove("active");
    }

    experience.classList.add("active");
    activeExperience = experience;
  }

  articleExperiences.forEach((article) => {
    article.addEventListener("mouseover", () => {
      setActiveExperience(article);
    });
  });
</script>

<style>
  .vertical-line {
    transition: height 0.3s ease-in-out;
  }
  .experience-year,
  .experience-icon {
    transition: color 0.3s ease-in-out;
  }
  .experience-article.active .vertical-line {
    height: 100px;
    background-color: #8c2de0;
  }

  body.dark .experience-article.active .vertical-line {
    height: 100px;
    background-color: #00abf0;
  }

  body.dark .experience-article.active .experience-year,
  body.dark .experience-article.active .experience-icon {
    color: white;
  }

  .experience-article.active .experience-year,
  .experience-article.active .experience-icon {
    color: #141e33;
  }

  .experience-article.active .experience-button,
  .experience-article.active .experience-title,
  .experience-article.active .experience-description {
    display: block;
    margin-right: 6rem;
  }

  .experience-article:first-child .experience-title {
    margin-right: 15px;
  }

  .experience-article:first-child .experience-button {
    margin-left: 70px;
  }

  .experience-article:first-child .experience-icon {
    left: 0px;
  }

  .experience-article:first-child .separator,
  .experience-article:first-child .vertical-line {
    margin-left: 10px;
  }

  .experience-article:first-child .experience-year {
    left: 0;
  }

  .experience-article:first-child .experience-description {
    margin-left: 240px;
    text-align: left;
    min-width: 250px;
    text-wrap: balance;
  }

  .experience-article:last-child .separator {
    display: none;
  }
</style>
