---
interface navbarLinksProps {
  title: string;
  link: string;
  icon: string;
}

const {
  NAV_ELEMENT_1,
  NAV_ELEMENT_2,
  NAV_ELEMENT_3,
  NAV_ELEMENT_4,
  NAV_ELEMENT_5,
} = Astro.props;

const navbarLinks: navbarLinksProps[] = [
  {
    title: NAV_ELEMENT_1,
    link: "#inicio",
    icon: "/imagenes/Navbar/HomeIcon.svg",
  },
  {
    title: NAV_ELEMENT_2,
    link: "#experiencia",
    icon: "/imagenes/Navbar/ExperienceIcon.svg",
  },
  {
    title: NAV_ELEMENT_3,
    link: "#proyectos",
    icon: "/imagenes/Navbar/ProjectsIcon.svg",
  },
  {
    title: NAV_ELEMENT_4,
    link: "#sobreMi",
    icon: "/imagenes/Navbar/AboutIcon.svg",
  },
  {
    title: NAV_ELEMENT_5,
    link: "#contacto",
    icon: "/imagenes/Navbar/ContactIcon.svg",
  },
];
---

{
  navbarLinks.map(({ title, link, icon }) => (
    <li
      class="dark:lg:hover:text-primary lg:hover:text-purple-700 transition w-full
  border-b dark:border-gray border-grayStrong pb-2 flex justify-between items-center
  lg:border-none lg:pb-0 lg:justify-center lg:w-auto"
    >
      <a class="flex justify-between items-center w-full" href={link}>
        {title}
        <img
          src={icon}
          alt={title}
          title={title}
          class="size-8 lg:hidden iconNavbar"
        />
      </a>
    </li>
  ))
}

<style>
  li {
    position: relative;
    overflow: hidden;
  }

  li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transition: width 0.5s ease;
  }

  li:hover::before {
    width: 100%;
  }
</style>
